<% content_for :title do %>Messages<% end %>
<h3>Here are the messages for <%= @user.name %></h3>
<div data-ng-controller='MessageCtrl' data-ng-init="init(<%= @user.id %>)">
  <div class="row">
    <div class="col-md-4">
      <div data-ng-repeat="message in messages">
        <a href="" data-ng-click="select(message)">
          <p>{{message.id}}. {{message.subject}}</p>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <h4>{{selected_message.subject}}</h4>
      <div>{{selected_message.body}}</div>
    </div>
  </div>

  <form>
    <label>Add Message:</label><br/>
    Subject:<br/>
    <input type=r"text" data-ng-model="newMessage.subject" /><br/>
    Body:<br/>
    <input type="textarea" data-ng-model="newMessage.body" /><br/>
    <button data-ng-click="create()">Add</button>
  </form>

</div>
