<% content_for :title do %>Users<% end %>
<h3>Here is the user list.  Please click on one to see messages.</h3>
<br/>

<div data-ng-controller="UserCtrl" >
  <div data-ng-repeat="user in users">
    <a href="{{user.messages_url}}">
      <p>{{user.id}}. {{user.name}}</p>
    </a>
  </div>

  <form>
    <label>Add User:</label>
    <input type="text" data-ng-model="newUser.name"/>
    <button data-ng-click="create()">Add</button>
  </form>
</div>
