<%# add navigation links to this file %>
<li><%= link_to 'Users', users_list_path %></li>
<!--<li><%= link_to 'Messages', messages_list_path %></li>-->
<li><%= link_to 'About', page_path('about') %></li>
